/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #006DAE;
}

body{
  background-color: #f0f8ff;
}

h1{
    color: #8c564b;
  font-family: 'Copper Black', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h2{
    color: #8c564b;
  font-family: 'Copper Black', sans-serif;
  font-weight: bold;
  font-size: 30px;
}


p {
  font-size: 20px;
  line-height: 1.6;
}
