/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #006DAE;
}


body{
  background-color: #f0f8ff;
}

h1{
    color: #2ecc71;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}


p {
  font-size: 16px;
  line-height: 1.6;
}
